<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="MongoDBConnection" value="MongoDBHQTest" />
    </appSettings>

    <connectionStrings>
      <add  name="MongoDBHQ" connectionString="mongodb://Ant:123456@flame.local.mongohq.com:27050/AntRemote?strict=false"/>
      <add  name="MongoDBHQTest" connectionString="mongodb://Ant:123456@flame.local.mongohq.com:27033/AntRemoteTest"/>
      <add  name="Test" connectionString="mongodb://jiajia:123456@flame.local.mongohq.com:27050/JJMoney"/>
      <add  name="MongoDBLocal" connectionString="mongodb://127.0.0.1/NormTests?strict=false"/>
    </connectionStrings>
</configuration>
