/* CSS Hacks:---------------------------------------------------------------
property:value; --------------- All Browser
property:value\9; ------------- All IE
+property:value; -------------- IE7
_property:value; -------------- IE6
property:value !important; ---- FF,IE7,IE8
*property:value; -------------- IE6,IE7
----------------------------------------------------------------------------*/
html, body{ background-color:#d6dbde;}
body{ font-family:"微软雅黑", "宋体"; font-size:12px; color:#000; width:980px; margin:0 auto;}

a, a:link, a:visited{ color:#1188c1; text-decoration:underline; cursor:pointer;}
a:hover{ color:#ff0000; text-decoration:underline;}

.header{ background-color:#fff; padding:15px;}
.header .logo{ float:left; width:130px;}
.header .logo a, .header .logo a:link, .header .logo a:visited, .header .logo a:hover{ color:#000; font-size:30px; font-weight:bold; text-decoration:none; line-height:30px;}
.header .status{ float:right; text-align:right; line-height:20px;}
.nav{ background-color:#000; color:#fff; -moz-border-radius:0px 0px 5px 5px; -webkit-border-radius:0px 0px 5px 5px;}
.nav ul{ float:left; width:700px; padding-left:5px;}
.nav li{ display:block; float:left; width:70px; text-align:center; font-size:16px; line-height:40px;}
.nav li.current{ background-color:#333;}
.nav li a, .nav li a:link, .nav li a:visited, .nav li a:hover{ color:#fff; text-decoration:none;}
.nav li a:hover{ color:#ff0000;}
.nav .search{ float:right; width:260px; padding-top:5px;}
.nav .search input[type='text']{ border:1px solid #ccc; background-color:#f8f8f8; height:24px; width:200px;}

.btn{ font-size:12px; font-weight:bold; line-height:12px; padding:3px;}
.btn2{ font-size:14px; font-weight:bold; line-height:14px; padding:3px;}
.btn-green { border:1px solid #588624; background-color:#80b91c; border-bottom:1px solid #455f08;  border-right:1px solid #455f08; color:#fff; cursor:pointer;}
.btn-gray  { border:1px solid #c4c4c4; background-color:#f1f1f1; border-bottom:1px solid #8a8a8a;  border-right:1px solid #8a8a8a; color:#444; cursor:pointer;}
.btn-blue  { border:1px solid #246686; background-color:#1c97b9; border-bottom:1px solid #08525f;  border-right:1px solid #08525f; color:#fff; cursor:pointer;}
.btn-red   { border:1px solid #b23534; background-color:#ea1f34; border-bottom:1px solid #921615;  border-right:1px solid #921615; color:#fff; cursor:pointer;}	

.popup{ background-color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:3px 3px 2px #333333;-webkit-box-shadow:3px 3px 2px #333333; filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, color=black);}
.popup .close{ display:block; float:right; font-size:12px; padding-right:10px; cursor:pointer; padding-top:10px; }
.popup .close i{ font-style:normal;color:#888; text-decoration:underline;}
.popup .close span{ font-size:10px; color:#F00;}
.popup .title{ font-size:35px; font-weight:bold; text-align:center; clear:both;}
.popup .subtitle{ font-size:14px; text-align:center;}

.FormPopup{ border:1px solid #e1e1d9; background-color:#fffbe7; margin:15px; padding:10px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.FormPopup label{ color:#ed7208; font-size:16px; display:block; float:left; line-height:28px;}
.FormPopup input.inp{ border:1px solid #b8b8b8; width:295px; font-size:18px; height:24px; line-height:24px;}
.FormPopup span{ font-size:12px;}
.FormPopup a{ display:block; float:right; font-size:12px; line-height:28px;}
.FormPopup div{ padding-bottom:5px;}
.FormPopup div.wrong{ background-color:#c60000; color:#ffe5e5; font-size:12px; padding:5px; line-height:12px; margin-bottom:5px;}
.FormPopup div.correct{ background-color:#5b9401; color:#dbffa3; font-size:12px; padding:5px; line-height:12px; margin-bottom:5px;}


#DivLogon{ display:none; width:350px;}
#DivRegister{ display:none; width:350px;}
#DivForgetPassword{ display:none; width:350px;}

.forget-password p{ font-size:14px;}

.classify .fliter .label{ float:left; height:20px; line-height:20px;}
.classify .fliter ul{ float:left;}
.classify .fliter ul li{ float:left; width:70px; text-align:center; height:20px; line-height:20px;}
.classify .fliter ul li.selected{color:#0479a7; background-color:#cadfec; border:1px solid #0479a7;}
.list .sort span{ float:left; padding-right:5px;}
.list .sort ul{ float:left;}
.list .sort ul li{ float:left; padding-right:10px;}

.list .item{ border:1px solid #f1f1f1; padding:5px 10px 10px; margin-bottom:10px;}
.list .item .info{ line-height:26px; border-bottom:1px solid #ccc; margin-bottom:10px;}
.list .item .info a{ display:block; float:left; font-weight:bold; font-size:14px; width:80px;}
.list .item .info i{ font-style:normal; display:block; float:left; padding-right:15px; color:#aaa;}
.list .item .info i span, .list .item .info b span{ color:#000;}
.list .item .info b{ display:block; float:right; color:#aaa; font-weight:normal;}
.list .item .value{ float:left; width:80px;}
.list .item .value b{ display:block; float:left; font-size:24px; color:#5b9401;}
.list .item .value span{ display:block; float:left; color:#aaa; padding-top:11px;}
.list .item .value i{ clear:both; font-style:normal; color:#666; display:block;}
.list .item .text{ float:left; height:50px; width:565px; overflow:hidden;}
.list .item-hover{ border:1px solid #0479a7;}

