/* CSS Hacks:---------------------------------------------------------------
property:value; --------------- All Browser
property:value\9; ------------- All IE
+property:value; -------------- IE7
_property:value; -------------- IE6
property:value !important; ---- FF,IE7,IE8
*property:value; -------------- IE6,IE7
----------------------------------------------------------------------------*/

.wrap{ width:985px; margin-left:auto; margin-right:auto;}

.header{ height:190px; overflow:hidden; background-color:#000;}
.header{ background:#000 url(../Images/BG_GMAT.jpg) scroll repeat-x center top;}

.header .main{ height:150px;}
.header .main .logo{ float:left; width:300px; height:100px; position:relative; left:-10px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='false') !important; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true', src='/Contents/Images/logo.png');}
.header .main .logo img{ display:block !important; display:none\9;}
.header .main .quatotion{ float:right; width:500px; text-align:right; color:#fff; height:14px; font-size:14px; line-height:14px; padding-top:60px;}

.header .main .login{ float:right; width:300px; height:67px; background:#fff url(../Images/Login_BG.gif) no-repeat;}

.header .main .login .loginform{ float:left; padding:12px 13px 12px 13px; width:280px; font-size:10px; color:#888;}
.header .main .login .loginform div{ float:left; background-repeat:no-repeat;}
.header .main .login .loginform a:link{ text-decoration:none; color:#888;}
.header .main .login .loginform a:visited{ text-decoration:none; color:#888;}
.header .main .login .loginform a:hover{ text-decoration:underline; color:#FF0000;}
.header .main .login .loginform .email{ background-image:url(../Images/Login_Form.gif); background-position:0px 0px; height:23px; width:109px;}
.header .main .login .loginform .password{ background-image:url(../Images/Login_Form.gif); background-position:-116px 0px; height:23px; width:109px; margin-left:7px;}
.header .main .login .loginform .email input, 
.header .main .login .loginform .password input{ border:none; background-color:Transparent; display:block; margin-left:25px; margin-top:4px; width:80px; color:#888;}
.header .main .login .loginform .submit{ background-image:url(../Images/Login_Form.gif); background-position:-232px 0px; height:23px; width:43px; margin-left:7px;}
.header .main .login .loginform .submit a{ display:block; width:43px; height:23px;}
.header .main .login .loginform .auto{ padding-top:6px; padding-left:6px; height:14px; width:110px;}
.header .main .login .loginform .auto input{ display:block; float:left; *margin-top:-3px;}
.header .main .login .loginform .auto span{ display:block; float:left; height:14px; line-height:14px; padding-left:3px;}
.header .main .login .loginform .forgot{ height:14px; line-height:14px; width:110px; padding-top:6px;}
.header .main .login .loginform .register{ height:14px; line-height:14px; width:50px; padding-top:6px;}
.header .main .login .loginform .register a{ color:#0096ff;}
.header .main .login .loginform .register a:link{ color:#0096ff;}

.header .main .login .logined{ float:left; padding:12px 13px; width:280px; font-size:10px; color:#888;}
.header .main .login .logined p,
.header .main .login .logined span{ display:block; font-size:12px; line-height:20px;}
.header .main .login .logined span{ color:#F60;}

.header .navigation{ height:40px; background-color:#000;}
.header .navigation .link a{float:left; height:40px; line-height:40px; font-size:14px; color:#FFF; letter-spacing:5px; display:block; padding-left:15px; padding-right:15px;}
.header .navigation .link a:link{ text-decoration:none;}
.header .navigation .link a:visited{ text-decoration:none;}
.header .navigation .link a:hover,
.header .navigation .link a:active{ text-decoration:none; background-image:url(../Images/Navigation_Hover.gif); background-repeat:no-repeat; background-position:center;}
.header .navigation .link a.current{ background:#FFF url(../Images/1px.gif) scroll repeat-x 0 -600px; color:#333;}
.header .navigation .search{ float:right; padding-top:8px; height:24px; width:250px;}
.header .navigation .search input{border:none; background-color:#FFF; line-height:12px; width:180px; padding:4px 10px; height:16px; font-size:12px; color:#cfcfcf; display:block; float:left; padding:0px 10px\9; height:24px\9; line-height:24px\9;}
.header .navigation .search a{ display:block; float:left; width:50px; height:24px; background-color:#b3b3b3; letter-spacing:5px; text-align:center; color:#333; font-size:12px; line-height:24px; font-weight:bold;}
.header .navigation .search a:link,
.header .navigation .search a:visited,
.header .navigation .search a:hover,
.header .navigation .search a:active{ text-decoration:none;} 

.footer{ height:110px; border-top:1px solid #bdbdbd; background-color:#333;}